<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>DevBurger</title>
		<link rel="stylesheet" href="/css/styles.css" />
		<link rel="stylesheet" href="/css/contact.css" />
	</head>
	<body>
		<header>
			<h1>
				<a href="/">DevBurger</a>
			</h1>
			<nav id="navbar">
				<ul>
					<li>
						<a href="/contato">Contato</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section class="shadowed-box">
				<h2>Obrigado Pelo Contato!</h2>
			</section>
		</main>
	</body>
</html>
