<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>DevBurger</title>
		<link rel="stylesheet" href="/css/styles.css" />
		<link rel="stylesheet" href="/css/menu.css" />
	</head>
	<body>
		<header>
			<h1>
				<a href="/">DevBurger</a>
			</h1>
			<nav id="navbar">
				<ul>
					<li>
						<a href="/contato">Contato</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section id="menu">
				<h2 class="subtitle">Lanches</h2>
				<ul>
					<li>
						<img
							src="/images/placeholder.webp"
							alt="Placeholder Image"
						/>
						<div>
							<span class="name">Hamburger</span>
							<span class="ingredients"
								>Lorem ipsum dolor sit amet, consectetur
								adipisicing elit. Ratione sit voluptas
								accusantium, necessitatibus eius porro quo
								eligendi, neque quis atque officia at sunt culpa
								ut inventore minima sed iusto qui!</span
							>
						</div>
					</li>
					<li>
						<img
							src="/images/placeholder.webp"
							alt="Placeholder Image"
						/>
						<div>
							<span class="name">Hamburger</span>
							<span class="ingredients"
								>Lorem ipsum dolor sit amet, consectetur
								adipisicing elit. Ratione sit voluptas
								accusantium, necessitatibus eius porro quo
								eligendi, neque quis atque officia at sunt culpa
								ut inventore minima sed iusto qui!</span
							>
						</div>
					</li>
					<li>
						<img
							src="/images/placeholder.webp"
							alt="Placeholder Image"
						/>
						<div>
							<span class="name">Hamburger</span>
							<span class="ingredients"
								>Lorem ipsum dolor sit amet, consectetur
								adipisicing elit. Ratione sit voluptas
								accusantium, necessitatibus eius porro quo
								eligendi, neque quis atque officia at sunt culpa
								ut inventore minima sed iusto qui!</span
							>
						</div>
					</li>
					<li>
						<img
							src="/images/placeholder.webp"
							alt="Placeholder Image"
						/>
						<div>
							<span class="name">Hamburger</span>
							<span class="ingredients"
								>Lorem ipsum dolor sit amet, consectetur
								adipisicing elit. Ratione sit voluptas
								accusantium, necessitatibus eius porro quo
								eligendi, neque quis atque officia at sunt culpa
								ut inventore minima sed iusto qui!</span
							>
						</div>
					</li>
					<li>
						<img
							src="/images/placeholder.webp"
							alt="Placeholder Image"
						/>
						<div>
							<span class="name">Hamburger</span>
							<span class="ingredients"
								>Lorem ipsum dolor sit amet, consectetur
								adipisicing elit. Ratione sit voluptas
								accusantium, necessitatibus eius porro quo
								eligendi, neque quis atque officia at sunt culpa
								ut inventore minima sed iusto qui!</span
							>
						</div>
					</li>
					<li>
						<img
							src="/images/placeholder.webp"
							alt="Placeholder Image"
						/>
						<div>
							<span class="name">Hamburger</span>
							<span class="ingredients"
								>Lorem ipsum dolor sit amet, consectetur
								adipisicing elit. Ratione sit voluptas
								accusantium, necessitatibus eius porro quo
								eligendi, neque quis atque officia at sunt culpa
								ut inventore minima sed iusto qui!</span
							>
						</div>
					</li>
				</ul>
			</section>
			<form
				id="suggestion-box"
				class="shadowed-box"
				method="GET"
				action="/sugestao"
			>
				<h2 class="subtitle">Sugestao</h2>
				<label for="nome">
					<span>Nome</span>
					<input
						type="text"
						required
						minlength="4"
						placeholder=" "
						name="nome"
						id="name"
					/>
				</label>
				<label for="ingredientes">
					<span> Ingredientes</span>
					<input
						type="text"
						required
						minlength="10"
						placeholder=" "
						name="ingredientes"
						id="ingredients"
					/>
				</label>
				<button type="submit">Enviar</button>
			</form>
		</main>
	</body>
</html>
