<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>DevBurger</title>
		<link rel="stylesheet" href="/css/styles.css" />
		<link rel="stylesheet" href="/css/suggestion.css" />
		<script src="/js/suggestion.js" defer></script>
	</head>
	<body>
		<header>
			<h1>
				<a href="/">DevBurger</a>
			</h1>
			<nav id="navbar">
				<ul>
					<li>
						<a href="/contato.html">Contato</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section id="suggestion">
				<h2>Obrigado Pelo Sugestao!</h2>
				<p>Nome: <span id="name"></span></p>
				<p>Ingredientes: <span id="ingredients"></span></p>
			</section>
		</main>
	</body>
</html>
