main {
	justify-content: unset;
}

h2 {
	color: #a87e30;
	font-size: 1.5rem;
}

#menu {
	width: 100%;

	ul {
		display: flex;
		flex-direction: row;
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		padding: 8px 12px;
		gap: 12px;

		li {
			width: 240px;
			flex: none;
			box-shadow: 3px 4px 5px 3px rgba(0, 0, 0, 0.25);
			padding-bottom: 8px;

			img {
				height: 200px;
				width: 100%;
				object-fit: cover;
			}

			div {
				padding: 2px 8px;
				display: flex;
				flex-direction: column;
			}

			.name {
				color: #a87e30;
				display: block;
				font-size: 1.5rem;
				flex-shrink: 0;
			}

			.ingredients {
				color: #c9a25a;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				font-size: 0.75rem;
			}
		}
	}
}
